@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 72px;
    margin-bottom: 21px;
    padding: 10px;
    background-color: burlywood;
    text-align: right;
}

header > h1 {
    color: snow;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.25em;
    font-size: 2.5em;
    font-weight: lighter;
}

main {
    max-width: 600px;
    margin: auto;
    margin-bottom: 21px;
    padding: 5px;
}

section {
    border-radius: 15px 60px;
    width: 350px;
    height: 350px;
    margin: 21px auto 21px auto;
    background-color: snow;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

section > h2 {
    border-radius: 15px 60px 0px 0px;
    height: 16%;
    padding: 10px;
    letter-spacing: 0.1em;
    background-color: rgba(255, 250, 250, 0.5);
}

section > p {
    border-radius: 0px 0px 15px 60px;
    height: 84%;
    padding: 5px;
    line-height: 1.5em;
    text-indent: 1.2em;
    text-align: justify;
    font-size: 0.8em;
    background-color: rgba(255, 250, 250, 0.5);
}

#novo_passeio {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 15px 15px 15px auto;
    font-size: 4.8em;
    text-align: center;
}

footer {
    color: snow;
    text-align: center;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.75);
}

#passeio01 {
    background-image: url('../daniel/imagens/bike_na_montanha.jpg');
}

#passeio02 {
    background-image: url('../daniel/imagens/foto_no_espelho.jpg');
}

#passeio03 {
    background-image: url('../daniel/imagens/linguinha.jpg');
}