@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

tr, th, td {
    border: 2px solid black;
    text-align: center;
}

#l1 {
    background-color: silver;
}

#green {
    background-color: lightgreen;
}

.normie {
    background-color: white;
}

.lightblue {
    background-color: lightblue;
}

