@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fontLato: 'Lato', sans-serif;
    --fontRoboto: 'Roboto', sans-serif;
    --cor01: #262401;
    --cor02: #F2E0D5;
    --cor03: #734E40;
    --cor04: #F2B2AC;
    --cor05: #BF7878;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontLato);
}

header {
    background: var(--cor02);
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--cor01);
}

header h1 {
    letter-spacing: 0.8rem;
}

nav {
    background-color: var(--cor02);
    margin-bottom: 21px;
    text-align: center;
}

nav a {
    border-radius: 5px;
    margin-right: 15px;
    padding: 2px;
    font-size: 1.2rem;
    color: var(--cor01);
    text-decoration: none;
    transition-duration: 500ms;
}

nav a:hover {
    background-color: var(--cor03);
    color: var(--cor02);
    font-size: 1.3rem;
}

main {
    background-color: white;
    max-width: 600px;
    height: 100%;
    margin: auto;
    margin-bottom: 21px;
    padding: 10px;
    text-align: justify;
}

main h1, p, hr {
    margin-bottom: 21px;
}

main > img {
    display: block;
    border: 5px solid #734E4080;
    border-radius: 15px;
    width: 300px;
    margin: auto;
}  

main #navegar {
    width: fit-content;
    margin: auto;
    margin-top: 21px;
}

main a > img {
    width: 50px;
    margin-right: 21px;
}

audio {
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor01);
    width: 100%;
    color: var(--cor02);
    text-align: center;
    bottom: 0;
    position: fixed;
    text-align: center;
}