@charset "UTF-8";

body {
    background-color: rgb(110, 110, 175);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    margin: auto;
    padding: 10px;
}

footer {
    color: white;
    font-size: 0.75em;
    text-align: center;
    font-style: italic;
}